body{
  overflow-x: hidden;
  background-image: url("../images/home.jpg");
  height: 100vh;
  width: 100%;

  background-size: cover;
}
.body::before{
      background-color: rgba(0,0,0,0.25);

}
#section-8 {
  top:30vh;
  
  width: 100%;
  
  
}

#section8-heading {
  color: #91ac41;
  font-size: 24px;
  font-family: "Caveat", cursive;
  margin: 0;
  margin-top: 35px;
}

#section8-body {
  margin: 20px auto;
  font-family: 'Lato';
  background:#666;
  color:#fff;
}
 
/*.*{*/
  /*margin:0;*/
  /*padding:0;*/
/*}*/
 
h2.section8-h2 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  position: relative;
  bottom: 0.8em;
}
 
p.section8-p {
  font-size: 1.5rem;
  font-weight: normal;
  position: relative;
  text-align: center;
  bottom: 1.6em;
}
 
ul.section8-ul,li.section8-li{
  list-style:none;
}
ul.section8-ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 a.section8-a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:15em;
  width:20em;
  padding:1em;
}
ul.section8-ul, li.section8-li{
  margin:1em;
}
.graphs{
  margin: auto;
  height: 20vh;
  width: 50vw;
}