.product-form {
    width: 50rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
color: #000000;
}

.product__price {
    text-align: center;
    color: #000000;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
color: black;
font-size: small;
}
