<%- include('base.ejs') %>
 <link rel="stylesheet" href="/css/home.css">
</head>

<body>

<%- include('nav.ejs') %>

<div id="section-8">
 <ul class="section8-ul">
  				<li class="section8-li">

    			  <a class="section8-a" href="#section-8">
                  <img src="images/dish.jpg" style="height:10em; width:15em; display:block;margin: auto; ">
    			  <h2 class="section8-h2">Dish 1</h2>
    			  <p class="section8-p"></p>
    			  </a>
  				</li>
  				<li class="section8-li">
    				<a class="section8-a" href="#section-8">
                    <img src="images/dish.jpg" style="height:10em; width:15em;display:block;margin:auto;">
    			    <h2 class="section8-h2" >Dish 2</h2>
    		        <p class="section8-p"></p>
    				</a>
  				</li>
			</ul>
    </div>
</body>
