<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!--Bootsrap 4 CDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<body>
<div style="background-color: black; height:13vh;">
	<h1 style="font-style: Arvo; color:white; text-align: center; padding-top: 1em;">Welcome to Restaurant RAPiD!</h1>
</div>
<div class="container">
	
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="height:40vh">
			<div class="card-header">
				<h3 style="color:rgb(191, 27, 27)">Sign In</h3>
				
			</div>
			<div class="card-body" style="height: 30vh;">
				<form action="/login/" id="login_form" method="post">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<label for="username"></label><input id="id_username" type="text" name="username" class="form-control" placeholder="username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<label for="password"></label><input id="id_password" type="password" name="password" class="form-control" placeholder="password">
					</div>
					
					<div class="form-group">
						<input type="submit" onclick="this.disabled=true; document.getElementById('login_form').submit();
" id="login_btn" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>
</body>