<div id="top-nav">
        
        <img style="width: 60px; padding-left:10px;" src="images/logo.png">
	

        <ul>
          
          <li>
            <a class="top-button" href="/order">Place an Order</a>
            </li>
            <li>
            <a class="top-button" href="/profile">Profile</a></li>
         
        </ul>
</div>

<link rel="stylesheet" href="/css/nav.css">

