<style>
  .top_button {
  padding: 9px 34px;
  border: 0px;
  height: 5em;
  border-radius: 4px;
  margin-right: 30px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  color: black;
  outline: none;
  background-color:rgb(170, 210, 54);
}
</style>
<div class="owner_navbar">
<div class="dropdown">

  <div>
  <a href = "#my_employees"><button class="top_button">My Employees</button></a>
  </div>

  <div>
  <a href="#allot_order_left"><button class="top_button">Cooking Orders</button></a>
  </div>

  <div>
  <a href = "#allot_order_serve"><button class="top_button">Serving Orders</button></a>
  </div>

  <div>
  <a href = "#inventory"><button class="top_button">Inventory</button></a>
  </div>

  <div>
    <a href="#hist"><button class="top_button">Order History</button></a>
    </div>
    <div>
			<a href = "/logout"><button class="top_button">Logout</button></a>
		</div>
</div>	

</div>
<link rel="stylesheet" href="/css/nav.css">
<script src="/js/nav.js"></script>


