<div class="navbar">
<div class="dropdown">
   
  <div>
  <a href = "#my_employees"><button>My Employees</button></a>
  </div>

  <div>
  <a href="#allot_order_left"><button>Allot Order Left</button></a>
  </div>

  <div>
  <a href = "#allot_order_serve"><button>Allot Order To Serve</button></a>
  </div>

  <div>
  <a href = "#inventory"><button>Inventory</button></a>
  </div>

  <div>
  <a href = "#order_anal"><button>Order Analytics</button></a>
  </div>
    
  <div>
  <a href = "#chef_anal"><button>Chef Analytics</button></a>
  </div>
  
  <div>
  <a href = "#waiter_anal"><button>Waiter Analytics</button></a>
  </div>

  <div>
  <a href="#user_anal"><button>User Analytics</button></a>
  </div>

</div>	
</div>
<link rel="stylesheet" href="/css/nav.css">
<script src="/js/nav.js"></script>


