<div class="dropdown">
  <div>
  <a href="#allot_order_left"><button>Allot Order Left</button></a>
  </div>
  <div>
  <a href="#user_anal"><button>User Analytics</button></a>
  <div class="myDropdown dropdown-content">

  </div>
  </div>
  <div>
  <a href = "#order_anal"><button>Order Analytics</button></a>
  <div class="myDropdown dropdown-content">
  </div>
  </div>
  <div>
<a href = "#chef_anal"><button>Chef Analytics</button></a>
<div class="myDropdown dropdown-content">
</div>
</div>
<div>
    <a href = "#waiter_anal"><button>Waiter Analytics</button></a>
    <div class="myDropdown dropdown-content">
    </div>
    </div>
    <div>
        <a href = "#allot_order_serve"><button>Allot Order Serve</button></a>
        <div class="myDropdown dropdown-content">
        </div>
        </div>
</div>	
<link rel="stylesheet" href="/css/nav.css">
<script src="/js/nav.js"></script>


